<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section id="contact" class="contact-section">
        <h2>Contact Me</h2>
        <p>If you have any questions or would like to get in touch, feel free to reach out!</p>
        <form action="https://formspree.io/f/xdkzoppp" method="POST" class="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Send Message</button>
        </form>
        <div class="contact-info">
            <h3>Other Ways to Reach Me:</h3>
            <p>Email: <a href="mailto:brendan@bgannon.dev">brendan@bgannon.dev</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/brendanrgannon/" target="_blank">in/brendanrgannon/</a></p>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>